/* Google font import */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Oswald:wght@200..700&display=swap');
/* wildcard selector to override defauly styles in browser */
* {
    padding:0;
    margin: 0;
    box-sizing: border-box;
}
/* body test basic settings */
body {
    margin: 0;
    font-family: 'Lato', sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
/* set background colour and all round padding on header */
header {
    background-color: #18768d;
    padding: 10px 20px;
}
/* remove decoration on anchor elements throughout */
a {
    text-decoration: none;
}
/* change colour and place within the middle */
#logo {
    color: white;
    margin: 0;
    padding: 5px;
    text-align: center;
}
/* nav display left as flex for larger screens to align to the left leading room for further expansion */
nav {
    display: flex;
}
/* main menu configuration */
#main-menu {
    list-style: none;
    font-size: 50%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content:flex-start;
}
#main-menu a {
    color: white;
    text-decoration: none;
    padding: 5px 15px;
    display: block;
}
#main-menu a:hover {
    background-color: #575757;
    border-radius: 2px;
}
#main-menu .active {
    background-color: #575757;
    border-radius: 2px;
}
/* sets the basic format for the main section */
main {
    flex: 1 0 auto;
    background-color: darkslategray;
    padding: 10px;
}
/* sets hero image and cover text */
#photo {
    position: relative;
    width: 100%;
    max-width: 100%;
}
#photo img {
    width: 100%;
    height:auto;
    display: block;
}
#cover-text {
    position: absolute;
    top:0; 
    left: 0; 
    display: flex;
    flex-direction: column;
    color: white; 
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px; 
    text-align: center; 
    box-sizing: border-box;
}
#video-content {
    align-items: center;
    position: relative;
    margin: 0;
}
iframe {
    height: 100%;
    width: 90%;
}
#main-content {
    margin: 0;
    padding: 5px;
    color: #d9dfdd;
    text-align: center;
    position: relative;
}
#main-content p {
    padding: 5px;
    text-align: left;
}
#picture-content {
    width: 100%;
    padding:10px;    
}
/* for the table and headers */
table {
    width:100%;
    border-collapse: collapse;
    margin: 20px 0;
}
th, td {
    border: 1px solid #fafafa;
    padding: 8px;
    text-align: left;
}
/* configure the next and previous page buttons */
#nav-buttons {
    height: 40px;
}
.next-page {
    display: inline-block;
    padding: 5px;
    color: #fafafa;
    text-decoration: none;
    border: 2px solid #575757;
    position: absolute;
    right: 20px;
}
.previous-page {
    display: inline-block;
    padding: 5px 5px;
    color: #fafafa;
    text-decoration: none;
    border: 2px solid #575757;
    position: absolute;
    left: 20px;
}
/* setting to align the form */
#form-submit td{
    border: none;
    padding: 5px;
    width: 1em;
    font-size: 90%;
}
input[type=submit]{
    background-color: #fafafa;
    padding: 5px;
    border: 3px solid #333;
}
/* sets the footer and ids for the bottom */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    flex: 0 1 auto;
}
#social-networks {
    display: flex;
    list-style-type: none;
    justify-content: space-evenly;
}

#social-networks i {
    color: #fafafa;
    padding: 5%;
    font-size: 150%;
}
/*media query: tablets and larger (768px and above) */
@media screen and (min-width:768px) {
#main-menu {
    font-size: 80%;
}
#photo img {
    height: 60vh;
    object-fit: cover;
    }
iframe {
    height: 350px;
}
#main-content img {
    max-width: 300px;
    max-height: 300px;
    }
}
@media screen and (min-width:1024px) {
body {
    font-size: 150%;
    }
#main-content img {
    max-width: 500px;
    max-height: 500px;
    }
iframe {
    width: 400px;
    height: 400px;
}

.next-page {
    font-size: 80%;
    }
.previous-page{
    font-size: 80%;
    }
}
@media screen and (min-width:1300px) {
.large-scale-flex div{
        display: flex;
        flex-wrap:nowrap;
        align-items: flex-start;
    }
.large-scale-flex-reverse div{
        display: flex;
        flex-wrap: nowrap;
        align-items: flex-end;
    }
}