/* Google font import */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Oswald:wght@200..700&display=swap');

/* wildcard selector to override defauly styles in browser */
* {
    padding:0;
    margin: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Lato', sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: #18768d;
    padding: 10px 20px;
}
a {
    text-decoration: none;
}

#logo {
    color: white;
    margin: 0;
    padding: 5px;
    text-align: center;
}

nav {
    display: flex;
}

#main-menu {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-evenly;
}

#main-menu li {
    margin-left: 10px;
}

#main-menu a {
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    display: block;
}

#main-menu a:hover {
    background-color: #575757;
    border-radius: 5px;
}

#main-menu .active {
    background-color: #575757;
    border-radius: 5px;
}

main {
    flex: 1 0 auto;
    background-color: darkslategray;
    padding: 10px;
}
#photo {
    position: relative;
    width: 100%;
    max-width: 100%;
}
#photo img {
    width: 100%;
    height:auto;
    display: block;
}
#cover-text {
    position: absolute;
    top:0; 
    left: 0; 
    display: flex;
    flex-direction: column;
    color: white; 
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px; 
    text-align: center; 
    box-sizing: border-box;
}
#video-content {
    align-items: center;
    position: relative;
    margin: 0;
    padding: 15px;
}
#main-content {
    margin: 0;
    padding: 20px 20px 40px;
    color: #d9dfdd;
    text-align: center;
    position: relative;
}
#main-content p {
    padding: 5px;
    text-align: left;
}
#picture-content {
    width: 100%;
    padding:10px;    
}
table {
    width:100%;
    border-collapse: collapse;
    margin: 20px 0;
}
th, td {
    border: 1px solid #fafafa;
    padding: 8px;
    text-align: left;
}
.next-page {
    display: inline-block;
    padding: 10px 20px;
    color: #fafafa;
    text-decoration: none;
    border: 2px solid #575757;
    position: absolute;
    right: 20px;
}
.previous-page {
    display: inline-block;
    padding: 10px 20px;
    color: #fafafa;
    text-decoration: none;
    border: 2px solid #575757;
    position: absolute;
    left: 20px;
}
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    flex: 0 1 auto;
}
#social-networks {
    display: flex;
    list-style-type: none;
    justify-content: space-evenly;
}

#social-networks i {
    color: #fafafa;
    padding: 5%;
    font-size: 150%;
}

/*media query: tablets and larger (768px and above) */
@media screen and (min-width:768px) {
#photo img {
    height: 60vh;
    object-fit: cover;
    }
#main-content img {
    max-width: 300px;
    max-height: 300px;
    }
.large-scale-flex {
    display: flex;
    flex-wrap: nowrap;
    align-items: flex-start;
    }
.large-scale-flex-reverse {
    display: flex;
    flex-wrap: nowrap;
    align-items: flex-start;
    }
}
@media screen and (min-width:1024px) {
body {
    font-size: 150%;
    }

#main-content img {
    max-width: 500px;
    max-height: 500px;
    }
#main-content img:hover {
    transform:scale(1.2);
    }
.next-page {
    font-size: 80%;
}
.previous-page{
    font-size: 80%;
}
}